@font-face {
  font-family: Audiowide;
  src: url("audiowide.ttf");
}
body {
  background-color: dodgerblue;
}
p {
  color: #00ff77;
}
h1, h2, h3, h4, h5, h6 {
  color: #00ff77;
  text-align: center;
  font-family: Audiowide;
}
